@import url(./normalize.css);
@import url(./index/variable.css);
@import url(./index/elements.css);
@import url(./index/header.css);
@import url(./index/main.css);
@import url(./index/footer.css);

html,
body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
div {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(3px);
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body {
  position: relative;
  width: 100%;
}
.body_bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  transition: 3s;
   opacity: 0;
} 
