main {
	background: transparent;
}

.main {

	.drawing-toolbar {
		display: flex;
		justify-content: space-around;
	}
	
	.drawing-board {
		box-sizing: border-box;
		margin: 0 auto;
		border: 1px solid black;
	}

	#drw-tool {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
}